.form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}
.form_input{
  width: 300px;
  height: 40px;
  margin: 30px 0 30px 0;
}
.form_button{
  width: 300px;
  height: 60px;
  background-color: #3f6a3f;
  border-radius: 40px;
  color: #c4c4c4;
  font-size: 50px;
  cursor: pointer;

}